/* suppress scroll bars */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px !important;
}

.container {
  width: 65% !important;
  margin-top: 100px;
  padding: 0px 0px 0px 0px !important;
  margin-left: 350px !important;
}

#robiY {
  position: absolute;
  left: -300px;
  top: 180px;
}

#robiX {
  position: absolute;
  left: -320px;
  top: 220px;
}

#workshop {
  opacity: 1;
}

#robiX-tool {
  position: absolute;
  left: -160px;
  top: 200px;
}

#object {
  position: absolute;
  left: 680px;
  top: 300px;
}

#sign {
  position: absolute;
  left: 850px;
  top: 420px;
  width: 150px;
  background-image: url("img/sign.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-size: 32px;
  color: black;
  box-shadow: 5px 5px 5px #222;
}

.info-templ {
  width: 70%;
  text-align: center;
}

#sentence {
  text-align: center;
  font-size: 32px;
  display: none;
}

#bubble {
  position: absolute;
  left: 250px;
  top: 30px;
  width: 300px;
  height: 300px;
  background-image: url("img/thought_bubble.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 102;
  display: none;
  text-align: center;
  font-size: 54px;
}

#bubble-content {
  position: relative;
  left: 60px;
  top: -30px;
  width: 250px;
  height: 180px;
}

#ready-to-take-off-screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  padding-top: 130px;
  z-index: 103;
  background-color: white;
}

#curtain-wall {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 104;
  background-color: white;
}

#score {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 180px;
  height: 180px;
  background-image: url("img/scores_border.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-size: 28px;
}

#scores-number {
  position: relative;
  top: 25px;
  font-size: 54px;
  color: darkred;
}