/* suppress scroll bars */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px !important;
}

.btn {
  font-size: 16px !important;
}

.container {
  width: 900px !important;
  margin-top: 100px;
  padding: 0px 0px 0px 0px !important;
  margin-left: 500px !important;
}

#robiY {
  position: absolute;
  left: -390px;
  top: 180px;
}

#robiX {
  position: absolute;
  left: -390px;
  top: 220px;
}

#workshop {
  opacity: 1;
}

#robiX-tool {
  position: absolute;
  left: -280px;
  top: 200px;
}

#object {
  position: absolute;
  left: 795px;
  top: 270px;
}

#sign {
  position: absolute;
  left: 850px;
  top: 550px;
  width: 150px;
  height: 45px;
  background-image: url("img/misc/sign.png");
  /*background-repeat: no-repeat;*/
  background-size: contain;
  text-align: center;
  font-size: 26px;
  color: black;
  box-shadow: 3px 3px 3px #222;
}

.info-templ {
  width: 800px;
  left: 400px;
  position: absolute;
  font-size: 20px;
  /*text-align: center;*/
}

#sentence {
  position: absolute;
  font-size: 32px;
  display: none;
  left: 350px;
}

#bubble {
  position: absolute;
  left: 350px;
  top: 30px;
  width: 300px;
  height: 300px;
  background-image: url("img/misc/thought_bubble.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 102;
  display: none;
  text-align: center;
  font-size: 72px;
}

#bubble-content {
  position: relative;
  left: 70px;
  top: -40px;
  width: 200px;
  height: 180px;
}

#ready-to-take-off-screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  padding-top: 130px;
  z-index: 103;
  background-color: white;
  font-size: 20px;
}

#curtain-wall {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 104;
  background-color: white;
}

#score {
  position: fixed;
  left: 1200px;
  top: 550px;
  width: 180px;
  height: 180px;
  background-image: url("img/misc/scores_border.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-size: 28px;
}

#scores-number {
  position: relative;
  top: 25px;
  font-size: 54px;
  color: darkred;
}

#door {
  position: absolute;
  left: 570px;
  top: 90px;
  z-index: -1;
}